/*Variables*/
$color-light: #fff;
$color-medium: #f7f7f7;
$color-lightgrey: #777777;
$color-mediumgrey: #555555;
$color-darkgrey: #222222;
$color-yellow: #fed136;

$font-one: "Montserrat", sans-serif;
$font-two: "Roboto Slab", serif;
$font-three: "Droid Serif", sans-serif;
//the below font should be Wisdom Script Font, not available in Google Fonts
$font-four: "Lobster Two", cursive; 

/*Global*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.list-item {
  display: inline-block;
}

.list-item a {
  text-decoration: none;
}

/*Navigation*/
.header {
  height: 100vh;
  position: relative;
  background-image: url("../assets/background-image.png");
  background-size: cover;
  background-position: center center;
}

.header-navigation {
  padding: 50px 0;
  margin-right: 20px;
 
  & .logo-title {
    font-family: $font-four;
    color: $color-yellow;
    font-style: italic;
    font-size: 26px;
    margin-left: 176px;
  }
  & .list-item a {
      font-family: $font-one;
      font-size: 14px;
      color: $color-light;
      font-weight: 400;
      margin-right: 30px;
  }
  & .row {
    justify-content: space-between;
  }
}

.header-welcome {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-light;
  font-size: 36px;
  text-align: center;
  & .row {
    flex-direction: column;
    align-items: center;
  }
  & .page-title {
    font-size: 40px;
    font-family: $font-three;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -1px;
    z-index: 5;
    & span {
      font-size: 75px;
      font-family: $font-one;
      font-weight: 700;
      font-style: normal; 
      letter-spacing: -2px;
      display: inline-block;
      margin: 30px 0;
    }
  }
  & .button {
    display: inline-block;
    font-size: 18px;
    font-family: $font-one;
    font-weight: 700;
    color: inherit;
    height: 65px;
    width: 240px;
    border: none;
    border-radius: 3px;
    background-color: $color-yellow;
    text-align: center;
    text-decoration: none;
  }
}

/*Services*/
.services {
    margin: 96px auto;
    text-align: center;
    & .section-description {
      margin-bottom: 48px;
      & .page-subtitle {
        font-size: 40px;
        letter-spacing: -1px;
        color: $color-darkgrey;
        font-family: $font-one;
        font-weight: 700;
        line-height: 75px;
      }
      & p {
        font-size: 16px;
        color: $color-lightgrey;
        font-family: $font-three;
        font-weight: 400;
        font-style: italic;
      }
    }
  & i {
    font-size: 36px;
    text-align: center;
    padding: 10px;
    height: 67px;
    width: 68px;
    border-radius: 50%;
    border: solid 3px $color-yellow;
    background-color: $color-light;
    color: $color-yellow;
    margin-bottom: 24px;
  }
  & .box-outer {
    flex-direction: column;
    & .box-title {
      font-size: 18px;
      color: $color-darkgrey;
      font-family: $font-one;
      font-weight: 700;
    }
    & .box-wording {
      font-size: 14px;
      color: $color-lightgrey;
      font-family: $font-two;
      font-weight: 400;
      margin-top: 15px;
      line-height: 2;
      letter-spacing: 0px;
      padding: 0 30px;
    }
  }
}

/*Portfolio*/
.portfolio {
  margin: 96px auto 24px auto;
  padding: 96px 0;
  text-align: center;
  background-color: $color-medium;

  & .row {
    margin: 0;
  }

  & .box-outer {
    flex-direction: column;
   
    padding: 10px;
    & .box-title {
      font-size: 18px;
      color: $color-darkgrey;
      font-family: $font-one;
      font-weight: 700;
      margin: 10px 0;
    }
    & .box-wording {
      font-size: 14px;
      color: $color-lightgrey;
      font-family: $font-three;
      font-weight: 400;
      font-style: italic;
    }
  }
  
  & .portfolio-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .box-image {
    flex: 1 1 33.3333%;
  }

  & .box-description {
    background-color: $color-light;
    padding: 20px 0;
  }

}

/*Footer*/
.footer-area {
  margin-bottom: 24px;
  & a {
    font-size: 0;
  }
  & i {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    color: $color-light;
  }
}

.footer-copyright {
  align-items: center;
  font-size: 14px;
  color: $color-mediumgrey;
  font-family: $font-one;
  font-weight: 700;
  letter-spacing: -0.5px;
}