/*Variables*/
$color-light: white;
$color-medium: #555555;
$color-dark: black;
$color-yellow: #fed136;
$font-one: "Montserrat", sans-serif;
$font-two: "Roboto Slab", serif;
$font-three: "Droid Serif", sans-serif;
//the below font should be Wisdom Script Font, not available in Google Fonts
$font-four: "Lobster Two", cursive; 

/*Global*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.list-item {
  display: inline-block;
}

.list-item a {
  text-decoration: none;
}

/*Navigation*/
.header {
  height: 100vh;
  position: relative;
  background-image: url("../assets/background-image.png");
  background-position: center center;
  background-size: cover;
}

.header-navigation {
  & .logo-title {
    font-family: $font-four;
    color: $color-yellow;
    font-style: italic;
    font-size: 26px;
    line-height: 41px;
  }
  & .list-item a {
    font-family: $font-one;
    font-size: 14px;
    color: $color-light;
    font-weight: 400;
    text-align: center;
  }
  & .row {
    justify-content: space-between;
  }
}

.header-welcome {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: $color-light;
  font-size: 36px;
  text-align: center;
  & .row {
    flex-direction: column;
    align-items: center;
  }
  & .page-title {
    font-size: 40px;
    font-family: $font-three;
    font-weight: 400;
    font-style: italic;
    letter-spacing: -1px;
    & span {
      font-size: 75px;
      font-family: $font-one;
      font-weight: 700;
      font-style: normal; 
      letter-spacing: -2px;
    }
  }
  & .button {
    display: inline-block;
    font-size: 18px;
    font-family: $font-one;
    font-weight: bold;
    color: inherit;
    height: 65px;
    width: 240px;
    border: none;
    border-radius: 3px;
    background-color: $color-yellow;
    text-align: center;
    text-decoration: none;
  }
}

/*Services*/
.services {
    text-align: center;
  & i {
    font-size: 20px;
    text-align: center;
    padding: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: solid 5px $color-yellow;
    background-color: $color-light;
    color: $color-yellow;
  }
}

/*Footer*/
.footer-area {
  margin-top: 48px;
  margin-bottom: 48px;
  & a {
    font-size: 0;
  }
  & i {
    font-size: 30px;
    text-align: center;
    padding: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: black;
    color: $color-light
  }
}

.footer-copyright {
  align-items: center;
  & p {
    padding-left: 15px;
    padding-right: 15px;
  }
}