/*Variables*/
$color-light: white;
$color-medium: #555555;
$color-dark: black;
$font-one: "Montserrat", sans-serif;
$font-two: "Roboto Slab", serif;
$font-three: "Droid Serif", sans-serif; 

/*Global*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.list-item {
  display: inline-block;
}

.list-item a {
  text-decoration: none;
}

/*Navigation*/
.header {
  height: 100vh;
  position: relative;
  background: url("https://images.pexels.com/photos/750870/pexels-photo-750870.jpeg");
  background-position: center center;
  background-size: cover;
  color: $color-light;
}

.header-navigation {
  font-size: 20px;
  & .row {
    justify-content: space-between;
  }
}

.header-welcome {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: $color-light;
  font-size: 36px;
  text-align: center;
  & .row {
    flex-direction: column;
    align-items: center;
  }
}

/*Footer*/
.footer-area {
  margin-top: 48px;
  margin-bottom: 48px;
  & a {
    font-size: 0;
  }
  & i {
    font-size: 30px;
    text-align: center;
    padding: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: black;
    color: $color-light
  }
}

.footer-copyright {
  align-items: center;
  & p {
    padding-left: 15px;
    padding-right: 15px;
  }
}